
      h1{
        color: orange;
        font-size: 65px;
        font-family: sans-serif;
        text-decoration:underline; 
    
      }
      p{
        color: orange;
        font-weight: 600; 
        font-size: 3em;
        font-style: italic;
        text-align: center;

      }
      ul {
        background-color:rgb(247, 205, 164) ;
        line-height: 30px;
      
    
    
      }
    
      .color {
        background-color: rgb(248, 217, 186);
      }
      body{
        font-size: 16px;
      }
      #black{
        background-color: black;
        color: blanchedalmond;
    
      }
      #pink{
        background-color: rgb(236, 78, 105);
      }
      #white{
       background-color: white;
      }
      #red{
        background-color: red;
      }
    