.super-mario {
    width: 200px;
    position: absolute;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 390px;
    left: 55px;

  }
  
  .baloon {
    position: absolute;
    left:270px ;
    z-index: 1;
  
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    top: 130px;
    left: 290px;
    z-index: 2;
  }
  
  .bowser {
    width: 200px;
    position:absolute;
    top: 360px;
    left: 550px;
  
  }